* {
	box-sizing: border-box;
}

:root {
	--bg-page-color: #DBEBC0;
	--bg-tweets-card: #523249;
	--bg-button-submit: #815355;

	--bg-tweet-positive: #84b9ef;
	--bg-tweet-negative: #ff5d5d;
	--bg-tweet-neutral: #fbe4c9;

	--height-results: 400px;
	--height-summary: 80px;
}

html, body {
	height: 100%;
	min-height: 100%
	position: relative;
  	margin: 0;
  	/* background: var(--bg-page-color) */
}

.wrapper-all {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.wrapper-all-result {
	background: green;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 2%;
	left: 1%;
}

.wrapper-results {
	margin-top:10px;
	margin-right: 10px;
	margin-left: 10px;
}

.logo {
	/* Centralize the logo inside div class "logo" -> http://stackoverflow.com/a/402643 */
	background: url('../img/stadistics.png') no-repeat center center;
	height: 100px;
	margin-bottom: 20px;
	margin-top: -150px;
}

.search-input {
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 5px;
	width: 500px; 
	font-size: 120%;
}

.quantity-input {
	margin-top: 5px;
	padding: 20px;
	margin-bottom: 20px;
	width: 100px; 
	font-size: 120%;
}

.graph-results {
	float: left;
	border: 1px dashed;
	width: 49%;
	height: var(--height-results);
	padding: 10px;
}

.tweets {
	border: 1px dashed;
	padding: 10px;
	width: 49%;
	height: var(--height-results);
	float: right;
	overflow: auto;
}

.graph-results {
	height: var(--height-results);
}

.wrapper-summary {
	margin-right: 10px;
	margin-left: 10px;
	display: flex;
}

.summary {
	border: 1px dashed;
	height: var(--height-summary);
	padding: 10px;
	margin: 5px 10px 5px 0px;
	float:left; width:33%;
	font-size: 120%;
}

.summary-pos {
	background: var(--bg-tweet-positive);
	flex-grow: 1;
}

.summary-neg {
	background: var(--bg-tweet-negative);
	flex-grow: 2;
}

.summary-neu {
	background: var(--bg-tweet-neutral);
	flex-grow: 3;
	margin-right: 0px;
}

#loading-div {
	display: inline;
}

.loading-icon {
	z-index: 2;
    margin: 0 auto;
    /*width: 100px;*/
}

.hidden {
	display: none;	
}

.hide-load {
	display: none;
}

.tweet-positive {
	background: var(--bg-tweet-positive)
}

.tweet-negative {
	background: var(--bg-tweet-negative)
}

.tweet-neutral {
	background: var(--bg-tweet-neutral)
}

.tweet-on-list {
	width: 50%;
	text-align: center;
	margin-left: auto;
  	margin-right: auto;
	/*background: var(--bg-tweets-card);*/
	border: 1px dashed;
	/*color: white;*/
	padding: 10px;
}

.btn-search-icon {;
	margin-left: 3px;
}

button {
	border: 0px;
	padding: 20px 30px 20px 30px;
	background-color: var(--bg-button-submit);
	color: white;
	font-size: 110%;
}